<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dog Spotter</title>
  </head>


  <body>
    <h1>Good Dogs</h1>

    <% @dogs.each do |dog| %>
      <h3><%= dog[0] %></h3>
      <img class='dog-photo' src= '<%= dog[1] %>' />

    <% end %>
    <form action='/dogs' method='post'>
      <label for='breed'>Dog Breed:</label>
      <input type='text' name='breed' id='breed'>
      <label for='photo'>Photo:</label>
      <input type='text' name='photo' id='photo'>

      <input id='submit' type='submit'>
    </form>

  </body>
</html>

<!-- ## .dog-photo {

} -->
